.row
  .col-xs-12
    %h1
      = @website.url
      .pull-right
        = link_to @website, class: "btn btn-primary-outline" do
          = fa_icon "globe", class: "fa-space-r"
          Show
    %hr

.row
  .col-xs-12
    = render 'form'
