.row
  .col-xs-12
    %h1
      New website
      .pull-right
        = link_to websites_path, class: "btn btn-primary-outline" do
          = fa_icon "close", class: "fa-space-r"
          Cancel
    %hr

.row
  .col-xs-12
    = render 'form'
