.row
  .col-xs-12
    %h1
      New website
      = link_to websites_path, class: "btn btn-primary-outline pull-right" do
        = fa_icon "close", class: "fa-space-r"
        Cancel
    %hr

.row
  .col-xs-12
    = render 'form'
