.row
  .col-xs-12
    %h1.display-1 Web Watch
    %h2.text-muted Watching the web, one screenshot at a time.
    %hr
    - if current_user
      = link_to websites_path, class: "btn btn-primary btn-lg" do
        = fa_icon "globe", class: "fa-space-r"
        Go to Websites
