- lightbox_title = object.created_at.to_formatted_s(:long)
- alt = "#{object.website.url} on #{lightbox_title}"

= link_to image.url(:original), data: { lightbox: group }, title: lightbox_title do
  - src_attr = lazy_load ? 'data-src' : 'src'
  %img.card-img-top.card-img-flex{alt: alt, src_attr => image.url(:medium)}/
